body {
  width: 100%;
  height: 100%;
  margin: 10;
  padding: 0;
  background-color: #fafafa;
  font-size: 1.1rem;
  line-height: 1.3;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  position: relative;
  width: 300mm;
  min-height: 210mm;
  padding: 0mm;
  margin: 10mm auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 10px lightgrey;
}

.pagetwo {
  position: relative;
  width: 210mm;
  min-height: 240mm;
  padding: 0mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
}

.sub_page {
  padding: 1cm;
  min-height: 300mm;
}

@page {
  size: A4;
  margin: 10;
}
@media print {
  html,
  body {
    width: 297mm;
    height: 210mm;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

p {
  margin-bottom: 1rem;
}

.iframe {
  border: none;
}

h6.padded,
p.padded {
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blue-text {
  color: #8496b8;
}

table {
  width: 100%;
}

td {
  padding: 2px 0px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}
tr:nth-child(odd) {
  background-color: #fafafa;
}

table.reversed tr:nth-child(odd) {
  background-color: #f0f0f0;
}
table.reversed tr:nth-child(even) {
  background-color: #f0f0f0;
}

table {
  font-size: 1rem;
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  border: 0px solid #ddd;
  padding: 8px;
}

table.tiny-header tr:first-child {
  font-size: 8px;
}

.columns {
  margin-left: 0;
}

.row > .columns:not(:first-child) {
  padding-left: 20px;
}

h1,
h5,
h6 {
  margin: 0;
}
h5 {
  font-size: 2.6rem;
}
h6 {
  font-size: 1.425rem;
}

.risk-reward {
  height: 150px;
  width: auto;
}
H1 {
  display: inline-block;
  position: relative;
}
li {
  color: #7a7a7a;
  list-style: square;
  padding-left: 0;
}

.product {
  position: relative;
  height: 15%;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 1px;
  background: #98151b;
  color: #ffffff;
}
.full-view-link {
  background-color: rgb(152, 21, 27);
  color: white !important;
  font-size: medium;
  padding: 15px 15px;
  float: left;
  margin-left: 75%;
  width: 35%;
  text-align: center;
  transition-duration: 1s;
}
.all-tabs {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}
.main-title {
  position: relative;
  color: #3a3a3a;
  font-size: 40px !important;
  width: 80%;
  border-left: 20px solid #98151b;
  background: #ffffff;
  padding-left: 30px;
}

.subtitle {
  position: relative;
  color: #3a3a3a;
  left: 0;
  height: 20%;
  margin: 0mm;
  border-left: 5px solid #98151b;
  background: #ffffff;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 60px;
}
.color_bar {
  height: 15px;
  width: 100%;
  margin: 0px 0px;
}
.Logo {
  height: auto;
  width: 100%;
  margin: 0px 10px;
}

a:link {
  color: #696969;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #696969;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  opacity: 0.6;
}

/* selected link */
a:active {
  color: lightgrey;
  text-decoration: underline;
}

.greyline {
  width: 90%;
  border-bottom: 1px solid lightgrey;
}

.tab {
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  padding: 5px 10px;
}

.rowrow {
  margin: auto;
  text-align: center;
  width: 97%;
}

.rowrow2 {
  margin: auto;
  width: 97%;
}

.tablast {
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  color: black;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#learn-more-button {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: none;
  margin: 25px 25px;
}

/* for screens smaller than 768px */
@media only screen and (max-width: 550px) {
  .tab {
    display: block;
  }
  .tablast {
    display: block;
    border-right-style: none;
  }
  .page {
    width: auto;
  }
  .sub_page {
    width: auto;
  }
  .risk-reward {
    height: 120px;
    width: auto;
  }
  .color_bar {
    height: 1px;
    width: 100px;
  }
  #learn-more-button {
    line-height: 0;
    font-size: 10px;
    height: 30px;
    padding: 0 10px;
  }
  h5 {
    font-size: 1.5rem;
  }
  .main-title {
    width: 55%;
    padding-left: 15px;
    border-left: 15px solid #98151b;
  }
  .five.columns {
    width: 45%;
  }
  .fees {
    width: auto;
  }
  .full-view-link {
    font-size: small;
    padding: 10px 10px;
    width: 40%;
    margin-left: 60%;
  }
  .row > .columns:not(:first-child) {
    padding: 0 0;
  }
  .svg-container {
    width: 255px !important;
  }
  .main-svg {
    width: 255px !important;
  }
  .three.columns {
    text-align: left;
    padding: 0 10px;
    margin-bottom: 5px;
  }
  .nine.columns {
    padding: 0 20px !important;
  }
}
@media only screen and (max-width: 400px) {
  .full-view-link {
    width: 45%;
    margin-left: 55%;
  }
}

@media only screen and (max-width: 350px) {
  .full-view-link {
    width: 50%;
    margin-left: 50%;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 2%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 1%; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
.display_in_line {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;            /* Footer height */
}

.pretty_container {
  border-radius: 5px;
  background-color: #e68781;
  margin: 2px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;

}

.pretty_container_inside {
  border-radius: 5px;
  background-color: #f9f9f9;
  padding:10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  margin: auto;
  .six.rows                    { height: 54.66666666667%; }

.chart{
height: 50px;

  }
